/* MAIN BODY ELEMENTS */

#main {
  margin:2%;
}

body {
  background-color: #ccccb3
}

p {
  font-family:Droid+Sans;
}

#main {
  overflow:auto;
}

h1,h2 {
  font-family:Montserrat;
}

#photos {
  float:right;
  @extend %width_and_padding_main;
}

#content {
  float:left;
  @extend %width_and_padding_main;
}

.pattern {
  width:100px;
  margin:5px;
}
